importClassesFrom(Biobase, ExpressionSet)

importMethodsFrom(RJSONIO, fromJSON)
importMethodsFrom(Biobase,
    annotation,
    exprs,
    featureNames,
    pData,
    rowQ,
    varLabels,
    "featureNames<-",
    "sampleNames<-")

export(geneNames)
export(geneSymbols)
export(getBrainStars)
export(getBrainStarsEntry)
export(getBrainStarsExpression)
export(getBrainStarsFigure)
export(getBrainStarsGeneFamCat)
export(getBrainStarsMarker)
export(getBrainStarsMultistate)
export(getBrainStarsNtNh)
export(getBrainStarsOnestate)
export(probeSetIDs)
