export(getBrainStars)
export(getBrainStarsFigure)
importClassesFrom(Biobase,ExpressionSet)
importMethodsFrom(Biobase,"featureNames<-")
importMethodsFrom(Biobase,"sampleNames<-")
importMethodsFrom(Biobase,annotation)
importMethodsFrom(Biobase,exprs)
importMethodsFrom(Biobase,featureNames)
importMethodsFrom(Biobase,pData)
importMethodsFrom(Biobase,rowQ)
importMethodsFrom(Biobase,varLabels)
importMethodsFrom(RJSONIO,fromJSON)
