export(geneNames)
export(geneSymbols)
export(getBrainStars)
export(getBrainStarsEntry)
export(getBrainStarsExpression)
export(getBrainStarsFigure)
export(getBrainStarsGeneFamCat)
export(getBrainStarsMarker)
export(getBrainStarsMultistate)
export(getBrainStarsNtNh)
export(getBrainStarsOnestate)
export(getBrainStarsSearch)
export(probeSetIDs)
importClassesFrom(Biobase,ExpressionSet)
importMethodsFrom(Biobase,"featureNames<-")
importMethodsFrom(Biobase,"sampleNames<-")
importMethodsFrom(Biobase,annotation)
importMethodsFrom(Biobase,exprs)
importMethodsFrom(Biobase,featureNames)
importMethodsFrom(Biobase,pData)
importMethodsFrom(Biobase,rowQ)
importMethodsFrom(Biobase,varLabels)
importMethodsFrom(RJSONIO,fromJSON)
